@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Montserrat:wght@300;600;800&family=Qwitcher+Grypen&family=Roboto+Condensed:wght@300&family=Urbanist:ital,wght@0,100;0,200;0,500;1,100;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: gold;
}